{% extends 'base.html.twig' %}

{% block title %}Mon Profile
{% endblock %}

{% block body %}
<main class="accessibility">
<h1 class="parameter__h1">Acessibility</h1>

	
	<ul class="accessibility__list">

        <li><a href="{{ path('app_my_account_Accessibility_text') }}">Taille du text</a></li>
        <li class="accessibility__list_cursor"><a href="{{ path('app_my_account_Accessibility_cursor') }}">Taille du curseur</a></li>
		
    </ul>

  </main>




{% endblock %}
