.navbar {
    width: 100%;
    background-color: var(--background-color);
    border-bottom: 1px solid #ababab;
    padding: 15px 15px 10px 15px;
  
    ul.navbar__list {
        height: 50px;
        font-size: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none; 
  
        .navbar__item {
            display: flex;
            align-items: center;
  
              
        }
    }
  }
  

  @media (max-width: 391px) {
    .navbar {
        width: 100%;
  
        ul.navbar__list {
            height: 50px;
            font-size: 20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
  
        .navbar__item {
            display: flex;
            align-items: center;
        }
    }
  
      .navbar__logo {
              height: 38px;
              margin-left: 20px;
            }

            .navbar__icon_close {
                height: 50px;
            }
}

.navbar__cart {
    position: relative;

    span {
        position: absolute;
        background-color: var(--primary);
        color: white;
        padding: 0px 5px 0px 5px;
        border-radius: 50px;
        top: -7px;
        left: 10px;
    }
}