{% extends 'base.html.twig' %}

{% block title %}Accessibility{% endblock %}

    {% block javascripts %}
                {% block importmap %}
                    {{ importmap(['app','cursor']) }}
                {% endblock %}
    {% endblock %}

{% block body %}

<div class="productDetail_conteiner">
    <div class="productDetail">
        <img src="{{ asset('image/food/Image.png') }}" alt="Tomate fraîche">
    </div>

<div class="productDetail_sub_conteiner">
    <h1 class="Accessibility__fontsSize">Tomate Romaine</h1>
    <p class="Accessibility__fontsSize">Prix : 3,00 € / kg</p>
    <p class="Accessibility__fontsSize">Description : Cette tomate romaine est réputée pour sa chair ferme et juteuse, idéale pour les salades, sauces ou garnitures. Cultivée localement sans pesticides, elle apporte une saveur authentique à tous vos plats. Riche en vitamines et antioxydants, elle est parfaite pour une alimentation saine.</p>

    <div class="productDetail__contentbutton">
        <button class="productDetail__button general__button Accessibility__fontsSize">
            Ajouter au panier
        </button>
    </div>
</div>

<div class="cursor__container">
    <p>Cursor:</p> 
    <button class="customCursor general__button">Toggle Custom Cursor</button>
        <p>Ce bouton vous permet d'activer ou de désactiver le curseur personnalisé. Lorsqu'il est activé, une image personnalisée suivra le pointeur de la souris, et le curseur système par défaut sera masqué.</p> 
    {# <div class="cursor" id="cursor"></div> #}
</div>


</div>





{% endblock %}