{% extends 'base.html.twig' %}

{% block title %}Hello ManagingYourProfileController!
{% endblock %}

{% block body %}
	<main class="parameter managing__your_profile">
		<ul class="parameter__list">
			<li>

				{% if not is_granted('ROLE_SELLER') and not is_granted('ROLE_CHARITY_ASSOCIATION') and not is_granted('ROLE_ADMIN') %}
					<a href="{{ path('app_my_account_account') }}">Gérer les informations de votre profil</a>
				{% endif %}
			</li>
			<li>
				<a href="{{ path('app_my_account_edit') }}">Changer l'email ou le mot de passe</a>
			</li>
			<li>
				<a href="{{ path('app_my_account_delete') }}">Supprimer mon compte</a>
			</li>
		</ul>
	</main>
{% endblock %}
