{% if pageCount > 1 %}
    <nav class="pagination">
        <ul class="pagination__list">

            {% if previous is defined %}
                <li class="pagination__item pagination__item--previous">
                    <a href="{{ path(route, query|merge({ (pageParameterName): previous })) }}" class="">Previous</a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                <li class="pagination__item {% if page == current %}pagination__item--current{% endif %}">
                    <a href="{{ page != current ? path(route, query|merge({ (pageParameterName): page })) : '#' }}"
                       class="pagination__link {% if page == current %}pagination__item--previous{% endif %}">
                        {{ page }}
                    </a>
                </li>
            {% endfor %}

            {% if next is defined %}
                <li class="pagination__item pagination__item--previous">
                    <a href="{{ path(route, query|merge({ (pageParameterName): next })) }}" >Next</a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
