@media (max-width: 431px)  {


    .product-detail__TextContent {
        margin: 25px 56px 0 55px; 
        width: 100%    
    }
    




}



























@media (min-width: 1064px)  {
    .product-detail {
      margin-left: 200px;
    }






}