.product__category-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55px;
    font-size: 18px;
    background-color: var(--footer-background-color);
    margin-bottom: 20px;


            li {
                display: flex;
                align-items: center;
            
                    a {
                        display: flex;
                        align-items: center;
                        color: var(--text-color);
                    }
            }
}

.product__category_new img {
    height: 24px;
}

.product__category_filter img {
    height: 17px;
}


@media (min-width: 1064px)  {


    .product__category-list {
        padding: 0 140px 0 140px;
    }
    




}

.product__category-list {

    font-size: var(--font-size);
}