.productDetail {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.productDetail img{
    width: 90%;
}

.productDetail__button {
    width: 90%;
    height: 48px;
    border-radius: 30px;
    font-size: 25px;
    background-color: var(--primary);
    color: white;
}


.productDetail__relatedList {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding-bottom: 15px;
    margin: 20px 0 10px 0;
    
        
}



.productDetail__container {
    margin: 0 10px 0 10px;
}

.productDetail__relatedList:first-child {
    margin-left: 10px;
} 

.productDetail__recommendation {
    margin: 20px 0 20px 0;
}

.productDetail__contentbutton {
    display: flex;
    justify-content: space-around;
    margin: 25px 0 25px 0;
}

.productDetail__button {
    &_delete {
        width: 45%;
        padding: 10px;
        border: none;
        border-radius: 30px;
        
        cursor: pointer;
        background-color: #a90606;

        button {
            color: var(--text-color);
            font-size: var(--font-size);
            background: none;
            border: none;
            width: 100%;
            text-align: center;
        }
        
    }

    &_edit {
        width: 45%;
        padding: 10px;
        border: none;
        border-radius: 30px;
        
        font-size: var(--font-size);
        cursor: pointer;
        background-color: #007bff;

        a {
            color: var(--text-color);
        }
    }
}