@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Grey+Qo&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Baskervville SC", serif;  
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    letter-spacing: .2px;
  }