{% extends 'base.html.twig' %}

{% block title %}Modifier les informations du Produit{% endblock %}

    {% block javascripts %}
                {% block importmap %}
                    {{ importmap(['app', 'product']) }}
                {% endblock %}
    {% endblock %}

{% block body %}

    <div class= "product__conteiner">
        <div class="product__form-conteiner">
            <h1>Modifier les informations du Produit</h1>
            {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

            
        </div>
        
    </div>
    {# 

    

    {{ include('product/_delete_form.html.twig') }} #}
{% endblock %}
