.cart__List_image img {
    height: 70px;
}

.cart {
    padding: 30px 22px 40px 22px;
}

.cart__list {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: var(--border-color);
    padding: 15px;
    border-radius: 10px;
}

.cart__Points_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55px;
    font-size: 18px;
    background-color: var(--footer-background-color);
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
}

.cart__Points_content_show {
    padding: 10px;
    background-color: var(--border-color-footer);
    border-radius: 30px;
}

.cart__button_sumit {
    margin: 0 15px 15px 10px;
    width: 95%;
}

.cart__total {
    padding: 10px 0 10px 0;
    background-color: var(--footer-background-color);
    border-radius: 9px;
    margin: 15px;

    &_sub {
        display: flex;
        justify-content: space-around;
        align-items: center;

        div {
            color: var(--text-color);
            font-size: var(--font-size);
        }
    }

    &_tva {
        color: var(--text-color);
        font-size: 15px;
        margin-left: 52px;

    }
    
}

@media (min-width: 1064px) {
    .cart {
        padding: 30px 22px 40px 22px;
        margin: 0 300px 0 300px;
    }
}
