.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 100vh;
}

.login__content {

    // height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 0px 30px 0px 30px;
    margin: 55px 29px;
}

.login__link-Inscrivez-vous-prifil {
    color: var(--text-color);
}
.login__link-Inscrivez-vous {
    color: white;
}

.login__form {
    background-color: var(--footer-background-color);
    padding: 30px;
    border-radius: 30px;
}

.login__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: center;
}

input[type="email"]:active,
input[type="email"]:focus,
input[type="password"]:active,
input[type="password"]:focus {
    border-bottom: 2px solid #007BFF;
}

.registration {
    margin: 10px 0;
}



.logged-in-info {
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
}

.logged-in-info a {
    color: #007bff;
    text-decoration: none;
}

.logged-in-info a:hover {
    text-decoration: underline;
}

.login__link-Inscrivez-vous_reset {
    color: var(--text-color);
    border-bottom: 1px solid;
}

.login__link-Inscrivez-vous_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        width: 70%;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }
}

@media (min-width: 1064px) {
    .login__content {
        // height: 55vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin: 0px 30px 0px 30px; */
        
        width: 100%;

        form {
          max-width: 550px; 
        }
    }

    .login__link-Inscrivez-vous_content {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 40%;
        }
    }
}


.password__potition_login {
    cursor: pointer;
    width: 45px;
    position: absolute;
    top: 3px;
    right: 17px;
}

.show_password {
    padding-right: 58px;
}


























.alert-container {
    z-index: 8000000000000000000;
    position: fixed;
    top: 1rem;
    right: 1rem;
    max-width: 20rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-container.success {
    background-color: #f0fdf4;
    border: 1px solid #34d399;
    color: #065f46;
}

.alert-container.error {
    background-color: #fee2e2;
    border: 1px solid #f87171;
    color: #991b1b;
}

.alert-title {
    font-weight: bold;
    margin-right: 0.5rem;
}

.alert-message {
    display: block;
    flex-grow: 1;
}

.alert-close {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}

.close-icon {
    fill: #ef4444;
    height: 1.5rem;
    width: 1.5rem;
}