.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login__content {
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__link-Inscrivez-vous {
    color: var(--text-color);
}

.login__form {
    background-color: var(--footer-background-color);
    padding: 30px;
    border-radius: 30px;
}

.login__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: center;
}

input[type="email"]:active,
input[type="email"]:focus,
input[type="password"]:active,
input[type="password"]:focus {
    border-bottom: 2px solid #007BFF;
}

.registration {
    margin: 10px 0;
}

.alert.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.logged-in-info {
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
}

.logged-in-info a {
    color: #007bff;
    text-decoration: none;
}

.logged-in-info a:hover {
    text-decoration: underline;
}
