

.Register__h1 {
    margin-bottom: 10px;
}

.Register__content {
    // height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 25px 0;
}

.Register__form {
    width: 315px;
    background-color: var(--footer-background-color);
    padding: 30px;
    border-radius: 20px;
}

.register__content_Password{
    ul li {
    color: red;
    padding: 10px 0;     
    }
   
}

.Register__check {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin: 17px 0;

    label {
        padding-left: 25px;
    }

        label a {
            color: var(--text-color);
        }
        .register__link {
            color: blue;
        }
}


.Register__link-login {
    color: var(--text-color);
}

#registration_form_agreeTerms {
    height: 17px;
    width: 17px;
}

.check__form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}


@media (min-width: 1064px) {
    .Register__form {
        width: 550px;
    }

    .Register__content {
        // height: 65vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}




.password_show_content {
position: relative;
}

.password__potition {
    cursor: pointer;
    width: 45px;
    position: absolute;
    top: 29px;
    right: 7px;
}