.Register__h1 {
    margin-bottom: 10px;
}

.Register__content {
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 25px 0;
}

.Register__form {
    width: 315px;
    background-color: var(--footer-background-color);
    padding: 30px;
    border-radius: 20px;
}

.Register__link-login {
    color: var(--text-color);
}

.general__input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    margin-bottom: 17px;
    font-size: 25px;
    transition: border-bottom .2s ease;
}

#registration_form_agreeTerms {
    height: 17px;
    width: 17px;
}

.check__form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}