{% if creditPoints is not null %}
	<div class="cart__Points_content">
		<p>Points de crédit:</p>
		<p class="cart__Points_content_show">
            {{ creditPoints }}
			points
        </p>
	</div>
{% endif %}
